<div id="wrapper">

<div id="centerimg"><img src="http://localhost:8081/"></div>
<hr>
<div id="centerimg"><%= link_to image_tag("camera_icon.svg",height: '117', width: '117') , :controller => "arduino", :action => "index", method: :post, remote: true %>

 <%= link_to image_tag("up_arrow.svg", :alt => "up",  height: '117', width: '117') , :controller => "arduino", :action => "up", method: :post,
remote: true %>

<%= link_to image_tag("down_arrow.svg", :alt => "down",  height: '117', width: '117') , :controller => "arduino", :action => "down", method: :post,
remote: true %>

<%= link_to image_tag("left_arrow.svg", :alt => "left",  height: '117', width: '117') , :controller => "arduino", :action => "left", method: :post,
remote: true %>

<%= link_to image_tag("right_arrow.svg", :alt => "right",  height: '117', width: '117') , :controller => "arduino", :action => "right", method: :post,
remote: true %>
</div>

<%= link_to image_tag("light_button.svg",height: '117', width: '117') , :controller => "arduino", :action => "index", method: :post, remote: true %>


<img src="/images/off_button_1.svg" id="one_on" onclick="toggleState_one(this)" width="117" height="117">

<img src="/images/off_button_2.svg" id="two_on" onclick="toggleState_two(this)" width="117" height="117">

<img src="/images/off_button_3.svg" id="three_on" onclick="toggleState_three(this)" width="117" height="117">

<img src="/images/off_button_4.svg" id="four_on" onclick="toggleState_four(this)" width="117" height="117">







</div>







